<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header>
        <nav id="nav">
            <ul>
                <li><a href="/">home</a></li>
            <% if (user) { %>
                <li><a href="/post">post</a></li>        
                <li><a href="/logout">logout</a></li>
            <% } else { %>
                <li><a href="/login">login</a></li>
                <li><a href="/reg">register</a></li>
            <% } %>
            </ul>
        </nav>
    </header>

    <article>
        <span><a href="/upload"></a></span>
