<%- include header %>

    <div class="screenshot-wrap">
        <div id="overlay"></div>
        <img src="/images/5.jpg" alt="" id="img">
        <button id="btn">确定</button>
    </div>
    <script type="text/javascript" src="/javascripts/script.js"></script>
<%- include footer %>